<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
  </head>
  <body>
    <h2>About</h2>
    <p>Stand4Wildlife is an application made by three teenage girls aiming to connect people to non-profits that support and spread awareness for varying kinds of wildlife. We want to raise awareness on our site through interactive quizzes, eye-opening statistics, and access to other non-profits that will allow people to donate and get involved. </p>
  </body>
</html>
